.Chapter-viewport {
  width: 100vw;
  height: 100vh;
  background-color: hotpink;
  margin: 0;
  padding: 0;
}

.Chapter {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: calc(75vw + 25vw + 75vw)
}

.Chapter-primary {
  flex: 1 1 75vw;
}

.Chapter-secondary {
  max-height: 100vh;
  overflow: scroll;
  flex: 1 1 25vw;
}

.Chapter-tertiary {
  max-height: 100vh;
  overflow: scroll;
  flex: 1 1 75vw;
}